body {
    margin: 0px;
    justify-content: center;
}


body {
    background-image: url("/image/background.png");
    background-repeat: no-repeat; /* Prevents tiling */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

#main_container {
    width: 1024px;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ff0000;
    /* background-color: rgb(30, 146, 255); */
    display:flex;
    justify-content: center;
    flex-direction: column;

}



#header {
    width: 100%;
    height: 150px;  
    position: relative; top: -399px;

}

#my-name {
    font-size: 70pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative; top: -125px;
    position: relative; left: 68px;
    color: #316017;
    justify-self: top;
    justify-self: center;
}

#nav-bar {
    width: 1018px;
    height: 46px;
    background-color: #316017;
    border: solid 3px #FFFBE1;
    margin: 0px;
    justify-content: center;
    flex-direction: column;
    position: relative; top: -400px;
    
}

#logo {
    position: relative; top: 50px;

}